# OpenAI Configuration
OPENAI_API_KEY=your-api-key-here

# Generation Configuration
NUM_SCTS_TO_GENERATE=
MODEL=

DOMAIN_DISTRIBUTION=HCC,Obesity,Celiac_Disease,GERD,IBD,Pancreatitis

# Logging
LOG_LEVEL=INFO
